@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  display: block;
  width: 100%;
  height: auto;
}

.gradient-text-primary {
  background: linear-gradient(90deg, #f9572a, #ff8a05);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

